/config
ip2net/ip2net
mdig/mdig
nfq2/dvtws2
nfq2/nfqws2
nfq2/winws2.exe
nfq2/WinDivert*
tpws/tpws
binaries/my/
ipset/zapret-ip*.txt
ipset/zapret-ip*.gz
ipset/zapret-hosts*.txt
ipset/zapret-hosts*.gz
.vscode/